// @import "font-awesome.min.css";
@import "normalize.css";
@import "main-before.less";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//////////////////////////
///////// FONTES /////////
//////////////////////////

@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

@body: 'Overpass', sans-serif;
@header: 'Overpass', sans-serif;

/////////////////////////
///////// CORES /////////
/////////////////////////

@preto: #000;
@branco: #fff;
@cinza: #f8f2e6;

@vermelho: #F91259;
@azul: #1C6ACA;
@amarelo: #FFF602;
@verde: #168E60;
@bege: #C7B299;


//////////////////////////////////
///////// GRID REPONSIVO /////////
//////////////////////////////////

// http://www.responsivegridsystem.com/calculator/

// Sections
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.section:after {
	content: "";
	display: table;
	clear: both;
}

// Column setup
@leftmargin: 1.6%;
@colsize: (100% - 1.6% * 11) / 12;
.col {
	display: block;
	float: left;
	// outline: 1px dashed @vermelho;
	margin: 1% 0 3% @leftmargin;
}

.col:first-child {
	margin-left: 0;
}

// Grouping
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

// Grid of 12
.span_12_of_12 { width: @colsize * 12 + @leftmargin * 11; }
.span_11_of_12 { width: @colsize * 11 + @leftmargin * 10; }
.span_10_of_12 { width: @colsize * 10 + @leftmargin * 9; }
.span_9_of_12 { width: @colsize * 9 + @leftmargin * 8; }
.span_8_of_12 { width: @colsize * 8 + @leftmargin * 7; }
.span_7_of_12 { width: @colsize * 7 + @leftmargin * 6; }
.span_6_of_12 { width: @colsize * 6 + @leftmargin * 5; }
.span_5_of_12 { width: @colsize * 5 + @leftmargin * 4; }
.span_4_of_12 { width: @colsize * 4 + @leftmargin * 3; }
.span_3_of_12 { width: @colsize * 3 + @leftmargin * 2; }
.span_2_of_12 { width: @colsize * 2 + @leftmargin * 1; }
.span_1_of_12 { width: @colsize * 1 + @leftmargin * 0; }

// Grid of 12
.push_11_of_12 { margin-left: @colsize * 11 + @leftmargin * 11 ~"!important"; }
.push_10_of_12 { margin-left: @colsize * 10 + @leftmargin * 10 ~"!important"; }
.push_9_of_12 { margin-left: @colsize * 9 + @leftmargin * 9 ~"!important"; }
.push_8_of_12 { margin-left: @colsize * 8 + @leftmargin * 8 ~"!important"; }
.push_7_of_12 { margin-left: @colsize * 7 + @leftmargin * 7 ~"!important"; }
.push_6_of_12 { margin-left: @colsize * 6 + @leftmargin * 6 ~"!important"; }
.push_5_of_12 { margin-left: @colsize * 5 + @leftmargin * 5 ~"!important"; }
.push_4_of_12 { margin-left: @colsize * 4 + @leftmargin * 4 ~"!important"; }
.push_3_of_12 { margin-left: @colsize * 3 + @leftmargin * 3 ~"!important"; }
.push_2_of_12 { margin-left: @colsize * 2 + @leftmargin * 2 ~"!important"; }
.push_1_of_12 { margin-left: @colsize * 1 + @leftmargin * 1 ~"!important"; }

.rounded-corners(@radius: 50%) {
		-webkit-border-radius: @radius;
		-moz-border-radius: @radius;
	border-radius: @radius;
}

.transition(@transition) {
	-webkit-transition: @transition;
	-o-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-kthtml-transition: @transition;
	transition: @transition;
}

/////////////////////////////////////
///////// DEFINIÇÕES GERAIS /////////
/////////////////////////////////////

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: @body;
	font-weight: 300;
}

h1,h2,h3,h4 {
	font-family: @header;
	text-transform: uppercase;
	margin: .4em 0;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }

.lowercase {
	text-transform: lowercase;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.english {
	font-style: italic;
	color: mix(@branco, @preto, 60%);
}

a:link, a:visited, a:active {
	color: @azul;
	outline-color: @azul;
	text-decoration: none;
}

a, input[type='submit'], select, input {
}

input, textarea, select, option {
	font-size: 1em;
	font-family: @body;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

::selection {
  background: @amarelo; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: @amarelo; /* Gecko Browsers */
}

//////////////////////////
///////// ESTILO /////////
//////////////////////////

#container {
	position: relative;
	margin: 0 5%;

	#header {
		margin: 0 auto;
		width: 90%;
		max-width: 1280px;

		position: absolute;
		padding: 30px 0 10px 0;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		z-index: 998;
		background: @branco;
		.transition(.3s);

		&.menu-toggle {
			position: fixed;
		}

		&.menu-hide {
			top: -145px;
		}

		a {
			color: @preto;
			&:hover, &:focus {
				outline: 0;
			}
		}

		h1 {
			font-size: 2rem;
			letter-spacing: .1em;
			.transition(all .2s);
		}

		.menu-list {
			list-style: none;
			padding: 0;
			margin: 0;
			.menu-item {
				font-size: 1.4rem;
				display: inline-block;
				margin-bottom: 10px;
			}
		}

		.menu-list-main {
			.menu-item {
				margin-right: 1em;
				a {
					color: @azul;
					&.active {
						font-style: italic;
						color: @vermelho;
					}
					&:hover, &:focus {
						color: @vermelho;
					}
				}
			}
		}

		.menu-list-social {
			.menu-item {
				margin-right: 4px;
				a {
					font-size: 1.6rem;
					margin: 0 .3em;
					color: @azul;
					&:hover, &:focus {
						color: @vermelho;
					}
				}
			}
		}
	}

	.content-wrapper {
		margin: 180px auto 0 auto;
		max-width: 1280px;

		&.home {
			.hentry {
				position: relative;
				background: url('../img/ajax-loader.gif') no-repeat center center;
				transition: all .2s;	
				&.loaded {
					background: none;
				}
				&.grayscale {
					.entry-image {
						background: mix(@branco, @preto, 80%);
						img {
							-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
							filter: grayscale(100%);
							opacity: .5;
						}
					}
				}
				.entry-image {
					display: block;
					img {
						width: 100%;
						max-width: 100%;
						// max-height: 90vh;
						transition: all .2s;
					}
				}
				.entry-overlay {
					.entry-header {
						.entry-link {
							padding-top: 10px;
							display: block;
							color: @preto;
							.entry-title {
								font-size: 1.4rem;
								display: block;

								font-family: @header;
								text-transform: uppercase;
								font-weight: bold;
							}
							.entry-description {
								font-size: 1.4rem;
								font-family: @header;
								font-style: italic;
							}
						}
					}
				}
			}
		}

		&.projeto {
			max-width: 1024px;
			.content {
				h1 {
					text-transform: uppercase;
				}
				p {
					font-size: 1.4rem;
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
				img {
					max-width: 100%;
					&.lazy {
						display: none;
					}
					&.loaded {
					}	
				}

				@cinza: mix(@branco, @preto, 95%);
				@cinza2: mix(@branco, @preto, 90%);
				@cinza3: mix(@branco, @preto, 85%);
				@cinza4: mix(@branco, @preto,70%);
				
				.browser {
					max-width: 640px;
					margin: 0 auto;
					border: 1px solid @cinza3;
					background: @cinza;
					.rounded-corners(5px 5px 0 0);
					.transition(all .6s);
					&.full {
						max-width: 100%;
						.play .fa {
							opacity: 0;
						}
					}
					.browser-header {
						background: @cinza2;
						.browser-tab {
							.rounded-corners(5px 5px 0 0);
							border: 1px solid @cinza3;
							border-bottom: 0;
							background: @cinza;
							display: inline-block;
							padding: 8px 12px 4px 12px;
							margin: 5px;
							margin-bottom: 0;
							font-size: 1rem;
							font-weight: normal;
							text-transform: uppercase;
							letter-spacing: .1em;
							color: @cinza4;
						}
						.browser-ui {
							list-style: none;
							margin: 5px;
							padding: 0;
							float: right;
							li {
								float: left;
								margin: 0 0 0 5px;
								border-radius: 50%;
								background: @cinza3;
								border: 1px solid @cinza4;
								width: 10px;
								height: 10px;
							}
						}
						.browser-nav {
							box-shadow: 0 -1px 0 @cinza3;
							padding: 5px;
							display: table;
							width: 100%;
							background: @cinza;
							.browser-control {
								list-style: none;
								margin: 0;
								padding: 0;
								display: table-cell;
								width: 50px;
								clear: both;
								li {
									text-align: center;
									width: 40%;
									display: inline-block;
									font-size: 1.6rem;
									line-height: 2rem;
									color: @cinza4;
								}
							}
							.browser-address {
								border: 1px solid @cinza2;
								display: table-cell;
								background: @branco;
								line-height: 2rem;
								font-size: 1.1rem;
								padding-left: 8px;		
								a {
									color: @cinza4;
									&:hover {
										color: @vermelho;
										text-decoration: none;
										border: 0;
									}
								}			
							}
						}
					}
					.browser-window {
						position: relative;
						background: @branco;
						margin: 0 2px 2px 2px;
						border: 1px solid @cinza2;
						.galeria-nav {
							position: absolute;
							top: 0;
							bottom: 0;
							outline: 0;
							border: 0;
						}
						.galeria-prev {
							left: 0;
							right: 50%;
							cursor: url('../img/cursor_seta-esq.png'), auto;
						}
						.galeria-next {
							left: 50%;
							right: 0;
							cursor: url('../img/cursor_seta-dir.png'), auto;
						}
						ul.galeria {
							background: url('../img/ajax-loader.gif') no-repeat center center;
							list-style: none;
							margin: 0;
							padding: 0;
							width: 100%;
							padding-top: 60%;
							overflow: hidden;
							position: relative;
							li {
								position: absolute;
								top: 0;
								display: none;
								&:first-child {
									display: block;
								}
							}
						}
						.play {
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							text-align: center;
							cursor: pointer;
							.fa {
								position: absolute;
								top: 50%;
								left: 50%;
								width: 3em;
								line-height: 2em;
								font-size: 2em;
								background: @vermelho;
								margin-top: -1em;
								margin-left: -1.5em;
								color: @branco;
								.transition(all .2s);
								.rounded-corners(4px);
							}
							&:hover .fa {
								background: mix(@vermelho, @branco, 70%);
							}
						}
					}
				}
				.smartphone {
					background: @cinza;
					border: 1px solid @cinza3;
					display: inline-block;
					.rounded-corners(30px);
					position: relative;
					.smartphone-camera, .smartphone-speaker, .smartphone-button {
						border: 1px solid @cinza4;
						position: absolute;
					}
					.smartphone-camera {
						width: 10px;
						height: 10px;
						border: 1px solid @cinza4;
						background: @cinza2;
						top: 15px;
						left: 50%;
						margin-left: -5px;
						.rounded-corners(50%);
					}
					.smartphone-speaker {
						width: 56px;
						height: 6px;
						background: @cinza2;
						top: 35px;
						left: 50%;
						margin-left: -28px;
						.rounded-corners(3px);
					}
					.smartphone-window {
						background: @branco;
						margin: 65px 10px;
						border: 1px solid @cinza3;
						max-height: 480px;
						max-width: 320px;
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
						user-select: none;
						overflow: hidden;
						img {
							pointer-events: none;
						}
						&.grab {
							cursor: url('../img/grab.png'), auto;
						}
						&.grabbing {
							cursor: url('../img/grabbing.png'), auto;
						}
						&:hover {
							overflow-y: auto;
							// scrollbar
							&::-webkit-scrollbar {
								width: 4px;
								background: @cinza;
							}
							//scrollbar handle
							&::-webkit-scrollbar-thumb {
								-webkit-border-radius: 2px;
								border-radius: 2px;
								background: mix(@branco, @preto, 80%); 
							}
						}

					}
					.smartphone-button {
						width: 46px;
						height: 46px;
						border: 1px solid @cinza4;
						bottom: 10px;
						left: 50%;
						margin-left: -23px;
						.rounded-corners(50%);
					}
					&.landscape {
						.smartphone-camera {
							top: 50%;
							left: 15px;
							margin-left: 0;
							margin-top: -5px;
						}
						.smartphone-speaker {
							width: 6px;
							height: 56px;
							top: 50%;
							left: 35px;
							margin-left: 0;
							margin-top: -28px;
						}
						.smartphone-window {
							margin: 10px 65px;
							max-height: 320px;
							max-width: 480px;
						}
						.smartphone-button {
							position: absolute;
							top: 50%;
							margin-top: -23px;
							right: 10px;
							left: auto;
							bottom: auto;
						}

					}
				}
			}
		}
	}

	div#footer {
		clear: both;
		width: 100%;
		padding: 3% 0;
		p.end-marker {
			font-size: 2.4rem;
			text-align: center;
			font-family: @header;
		}
	}
}

#ajaxcontent {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: @preto;
	display: none;
	&.loaded {
		display: block;
	}
}



@import "main-helper-classes.less";
@import "main-media-query.less";
@import "main-print.less";